

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{{cookiecutter.modelname}} &mdash; Intel® Low Precision Optimization Tool  documentation</title>
  

  
  <link rel="stylesheet" href="../../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../../_static/custom.css" type="text/css" />

  
  

  
  

  

  
  <!--[if lt IE 9]>
    <script src="../../../../../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../../../../../" src="../../../../../../_static/documentation_options.js"></script>
        <script src="../../../../../../_static/jquery.js"></script>
        <script src="../../../../../../_static/underscore.js"></script>
        <script src="../../../../../../_static/doctools.js"></script>
    
    <script type="text/javascript" src="../../../../../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../../search.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../../../../../index.html" class="icon icon-home"> Intel® Low Precision Optimization Tool
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../welcome.html">Introduction to Intel LPOT</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../getting_started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../docs/introduction.html">APIs</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../readme.html">Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../docs/doclist.html">Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../releases-info.html">Releases</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../CONTRIBUTING.html">Contributing Guidelines</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../CODE_OF_CONDUCT.html">Contributor Covenant Code of Conduct</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../legal_information.html">Legal Information</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../SECURITY.html">Security Policy</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../../../index.html">Intel® Low Precision Optimization Tool</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../../../index.html" class="icon icon-home"></a> &raquo;</li>
        
      <li>{{cookiecutter.modelname}}</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../../../../_sources/examples/pytorch/huggingface_models/templates/adding_a_new_model/cookiecutter-template-{{cookiecutter.modelname}}/{{cookiecutter.lowercase_modelname}}.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="cookiecutter-modelname">
<h1>{{cookiecutter.modelname}}<a class="headerlink" href="#cookiecutter-modelname" title="Permalink to this headline">¶</a></h1>
<div class="section" id="overview">
<h2>Overview<a class="headerlink" href="#overview" title="Permalink to this headline">¶</a></h2>
<p>The {{cookiecutter.modelname}} model was proposed in <a href="#id3"><span class="problematic" id="id4">`&lt;INSERT PAPER NAME HERE&gt;
&lt;&lt;INSERT PAPER LINK HERE&gt;&gt;`__</span></a>  by &lt;INSERT AUTHORS HERE&gt;. &lt;INSERT SHORT SUMMARY HERE&gt;</p>
<p>The abstract from the paper is the following:</p>
<p><em>&lt;INSERT PAPER ABSTRACT HERE&gt;</em></p>
<p>Tips:</p>
<p>&lt;INSERT TIPS ABOUT MODEL HERE&gt;</p>
</div>
<div class="section" id="cookiecutter-camelcase-modelname-config">
<h2>{{cookiecutter.camelcase_modelname}}Config<a class="headerlink" href="#cookiecutter-camelcase-modelname-config" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="cookiecutter-camelcase-modelname-tokenizer">
<h2>{{cookiecutter.camelcase_modelname}}Tokenizer<a class="headerlink" href="#cookiecutter-camelcase-modelname-tokenizer" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="cookiecutter-camelcase-modelname-tokenizerfast">
<h2>{{cookiecutter.camelcase_modelname}}TokenizerFast<a class="headerlink" href="#cookiecutter-camelcase-modelname-tokenizerfast" title="Permalink to this headline">¶</a></h2>
<p>{% if “PyTorch” in cookiecutter.generate_tensorflow_and_pytorch -%}
{{cookiecutter.camelcase_modelname}}Model
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p>{% if cookiecutter.is_encoder_decoder_model == “False” %}
{{cookiecutter.camelcase_modelname}}ForCausalLM
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</div>
<div class="section" id="cookiecutter-camelcase-modelname-formaskedlm">
<h2>{{cookiecutter.camelcase_modelname}}ForMaskedLM<a class="headerlink" href="#cookiecutter-camelcase-modelname-formaskedlm" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="cookiecutter-camelcase-modelname-forsequenceclassification">
<h2>{{cookiecutter.camelcase_modelname}}ForSequenceClassification<a class="headerlink" href="#cookiecutter-camelcase-modelname-forsequenceclassification" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="cookiecutter-camelcase-modelname-formultiplechoice">
<h2>{{cookiecutter.camelcase_modelname}}ForMultipleChoice<a class="headerlink" href="#cookiecutter-camelcase-modelname-formultiplechoice" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="cookiecutter-camelcase-modelname-fortokenclassification">
<h2>{{cookiecutter.camelcase_modelname}}ForTokenClassification<a class="headerlink" href="#cookiecutter-camelcase-modelname-fortokenclassification" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="cookiecutter-camelcase-modelname-forquestionanswering">
<h2>{{cookiecutter.camelcase_modelname}}ForQuestionAnswering<a class="headerlink" href="#cookiecutter-camelcase-modelname-forquestionanswering" title="Permalink to this headline">¶</a></h2>
<p>{%- else %}
{{cookiecutter.camelcase_modelname}}ForConditionalGeneration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</div>
<div class="section" id="id1">
<h2>{{cookiecutter.camelcase_modelname}}ForSequenceClassification<a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="id2">
<h2>{{cookiecutter.camelcase_modelname}}ForQuestionAnswering<a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="cookiecutter-camelcase-modelname-forcausallm">
<h2>{{cookiecutter.camelcase_modelname}}ForCausalLM<a class="headerlink" href="#cookiecutter-camelcase-modelname-forcausallm" title="Permalink to this headline">¶</a></h2>
<p>{% endif -%}
{% endif -%}
{% if “TensorFlow” in cookiecutter.generate_tensorflow_and_pytorch -%}</p>
</div>
<div class="section" id="tf-cookiecutter-camelcase-modelname-model">
<h2>TF{{cookiecutter.camelcase_modelname}}Model<a class="headerlink" href="#tf-cookiecutter-camelcase-modelname-model" title="Permalink to this headline">¶</a></h2>
<p>{% if cookiecutter.is_encoder_decoder_model == “False” %}
TF{{cookiecutter.camelcase_modelname}}ForMaskedLM
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</div>
<div class="section" id="tf-cookiecutter-camelcase-modelname-forcausallm">
<h2>TF{{cookiecutter.camelcase_modelname}}ForCausalLM<a class="headerlink" href="#tf-cookiecutter-camelcase-modelname-forcausallm" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="tf-cookiecutter-camelcase-modelname-forsequenceclassification">
<h2>TF{{cookiecutter.camelcase_modelname}}ForSequenceClassification<a class="headerlink" href="#tf-cookiecutter-camelcase-modelname-forsequenceclassification" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="tf-cookiecutter-camelcase-modelname-formultiplechoice">
<h2>TF{{cookiecutter.camelcase_modelname}}ForMultipleChoice<a class="headerlink" href="#tf-cookiecutter-camelcase-modelname-formultiplechoice" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="tf-cookiecutter-camelcase-modelname-fortokenclassification">
<h2>TF{{cookiecutter.camelcase_modelname}}ForTokenClassification<a class="headerlink" href="#tf-cookiecutter-camelcase-modelname-fortokenclassification" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="tf-cookiecutter-camelcase-modelname-forquestionanswering">
<h2>TF{{cookiecutter.camelcase_modelname}}ForQuestionAnswering<a class="headerlink" href="#tf-cookiecutter-camelcase-modelname-forquestionanswering" title="Permalink to this headline">¶</a></h2>
<p>{%- else %}
TF{{cookiecutter.camelcase_modelname}}ForConditionalGeneration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p>{% endif -%}
{% endif -%}</p>
</div>
</div>


           </div>
           
          </div>
          <footer>

  <hr/>

  <div role="contentinfo">
    <p>
        &#169; Copyright 2021, Intel® LPOT.

    </p>
  </div>
    
    
    
    Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>
        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>